.featured {
  padding: 40px 30px 30px;
  width: 80%;
  height: 80%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 20px;
  align-items: center; 
  transition: all 1s ease;
    animation: flowMotion 5s infinite ease-in-out;
}

@keyframes flowMotion {
  0% {
    transform: translateY(0) ;
  }
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}


.season-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--green);
  letter-spacing: 1px;
}

.season-subtitle {
  font-size: 1.1rem;
  opacity: 0.8;
  color: white;
  max-width: 600px;
  margin: 0 auto;
}

.season-panels {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  width: 100%;
  height: 300px;
}

.season-panel {
  flex: 1;
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: all 0.4s ease;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.season-panel h3 {
    padding: 5px 15px;
    border-radius: 50px;
    font-family: inherit;
    position: absolute;
    top: 15px;
    left: 20px;
    color: var(--primary);
    font-size: 1.4rem;
    margin-bottom: 10px;
    transition: all 0.3s var(--cubic);
}

.season-panel:hover {
  flex: 1.2;
}

.season-panels:hover .season-panel:not(:hover) {
  flex: 0.9;
  filter: brightness(1);
}

.season-btn {
  margin-top: 10px;
  padding: 15px 25px;
  background:linear-gradient(to top, rgb(48, 117, 72) 0%, var(--green) 100%);
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 50px;
  width: fit-content;
  cursor: pointer;
  transition: 0.3s var(--cubic);
  transform: translateY(-10%);
}

.season-btn:hover {
  background: var(--gold);
  transform: translateY(-3px);
}
