
.panels{
    position: relative;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    transform: translateY(5%);
}

.outline{
    border : 2px solid white;
}


.panels .outer{
    position: relative;
    width: 95%;
    height: 80%;
}


.description{
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    font-family: "Poppins",sans-serif;
}

@media (max-width: 768px) {
    .description{
        font-size: 1.5rem;
        padding: 0 20px;
        text-align: center;
    }
}

