
.panels{
    position: relative;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
}
.description{
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    font-family: "Poppins",sans-serif;
}

@media (max-width: 768px) {
    .description{
        font-size: 1.5rem;
        padding: 0 20px;
        text-align: center;
    }
}