:root{
    --primary: #060D1E;
    --secondary: #F4C6D4;
    --gold: #DBB66C;
    --green:#8BAF69;
    /*cursor: url("cursor.png"), auto;*/
}


@font-face {
  font-family: "QrisMagic-Regular";
  src: url("QrisMagic-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Muhaqu";
  src: url("fonts/MuhaquRegularpersonaluse-Z4DK.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Moonscape";
  src: url("Moonscape Demo.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
  scroll-behavior: smooth;
}

body {
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 100vw;
}


.loading-screen{
  font-family: "Moonscape";
  font-size: 60px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9;
  display: grid;
  place-items: center;
  justify-content: center;
  align-items: center;
  overflow-y : auto;
  overflow-x: hidden;
}

.gradient{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 75%, rgba(0,9,28,0.9) 110%);
    z-index: 9;
    margin: 0;
    pointer-events: none;
}


::-webkit-scrollbar {
    display: none;
}

.background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -9;
  position: fixed;
  top: 0;
  left: 0;
}

@media (max-width: 820px) {
  
}