@font-face {
  font-family: "QrisMagic-Regular";
  src: url("QrisMagic-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.center,.right{
    padding: 15px 30px;
    border-radius: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

#Layer_2{
    width: 30px;
    transform: translateY(-3px);
    fill: white;
}

.logo{
    font-family: "QrisMagic-Regular", sans-serif;
    font-size: 30px;
    display: flex;
    gap: 10px;
    height: 30px;
    align-items: center;
    justify-content: center;
    width: fit-content;
    z-index: 999;
    color: white;
}

.logo span{
    font-family: inherit;
}

.center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;           
    width: 98vw;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 3vh;
    z-index: 1;
    padding: 10px 20px;
    border-radius: 15px;
}

a{
    text-decoration: none;
    color: white;

}


@media (max-width: 768px) {
    .logo{
        font-size: 20px;
    }
    nav{
        padding: 5px 15px;
    }
}

.nav-item {
  color: white;
}

.nav-item.active {
  color: rgb(211, 172, 117); /* keep same or highlight if you want */
}

.nav-indicator {
  position: absolute;
  bottom: -8px; /* below the nav items */
  height: 3px;
  border-radius: 30px;
  transition: transform 0.35s ease, width 0.25s ease;
  left: 0;
}


.right-indicator {
  position: absolute;
  bottom: -8px;
  height: 3px;
  border-radius: 30px;
  left: 0;
  transition: transform 0.35s ease, width 0.35s ease, opacity 0.35s ease;
}

.right-item.active {
  color: green;
}
