.products-section {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 95px;
  box-sizing: border-box;
}

.products-title{
  position: absolute;
  top: 40px;
  left: 20px;
}
