.services-section {
  width: 100%;
  background: white;
  padding: 70px 0;
}

.services-container {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  text-align: center;
}

.service-item {
  color: rgb(0, 9, 28);
}

.service-icon {
  width: 100px;
  height: 100px;
  opacity: 0.8;
  margin-bottom: 18px;
}

.service-title {
  font-size: 20px;
  font-weight: 600;
  color: rgb(0, 9, 28);
  margin-bottom: 6px;
}

.service-subtitle {
  font-size: 14px;
  color: rgba(0, 9, 28, 0.7);
}


@media (max-width: 992px) {
  .panels{
    max-width: 100vw;
    margin: 0;
  }
  .services-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  .service-icon {
    width: 80px;
    height: 80px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .services-container {
    grid-template-columns: 1fr;
    gap: 28px;
  }

  .service-icon {
    width: 75px;
    height: 75px;
  }

  .service-title {
    font-size: 18px;
  }

  .service-subtitle {
    font-size: 13px;
  }
}