.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -9; /* behind everything */
}

.background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -9;
}

.page {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}